# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
*.db
.env
backend/.venv/

# Node
node_modules/
frontend/dist/
frontend/.vite/

# IDE
.idea/
*.swp
*.swo
*~
.DS_Store

# Vite
frontend/dist/

# Logs
*.log
